body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
}

.input-container {
    margin-bottom: 20px; /* Espaço entre o container e a tabela */
    background-color: #f4f4f4; /* Cor de fundo para destacar o container */
    padding: 10px; /* Espaço interno para não ficar muito junto dos bordos */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra leve para um visual mais profundo */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

input[type="number"], button {
    padding: 8px;
    margin-right: 10px;
    width: calc(50% - 15px);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    input[type="number"], button {
        width: 100%;
        margin-top: 5px;
        margin-right: 0;
    }

    th, td {
        padding: 4px;
    }
}
