body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

input[type="number"], button {
    padding: 8px;
    margin-right: 10px;
    width: calc(50% - 15px);
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    input[type="number"], button {
        width: 100%; /* Faz os inputs e botão ocuparem a largura total em telas menores */
        margin-top: 5px; /* Adiciona um espaço entre os elementos quando estiverem um sobre o outro */
        margin-right: 0;
    }

    th, td {
        padding: 4px; /* Reduz o padding das células da tabela para economizar espaço */
    }
}
