body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    line-height: 1.6;
}

.input-container {
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
     box-sizing: border-box; /* Garante que padding e bordas sejam contabilizados na largura total */

}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 12px; /* Aumentado para melhor toque em dispositivos móveis */
    text-align: center;
}

th:first-child, td:first-child {
    width: 25%; /* Ajuste a largura conforme necessário para visualização móvel */
}

input[type="number"], button {
    width: 100%; /* Faz o input ocupar no máximo 100% do seu container */
    box-sizing: border-box; /* Mesmo efeito aqui para o input */
    padding: 12px; /* Mais espessura para facilitar a interação */
    margin: 5px 0; /* Aumenta a margem para separação clara em dispositivos móveis */
    width: 100%; /* Uso total da largura disponível */
    font-size: 16px; 
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px; /* Mais arredondado */
    cursor: pointer;
    font-size: 16px; /* Tamanho de fonte maior para leitura fácil */
    box-sizing: border-box;
}

@media (max-width: 600px) {
    th, td {
        padding: 8px;
    }

    .logo {
        max-width: 300px; /* Ajusta a largura máxima da imagem para 300px */
        width: 100%; /* A imagem ocupará 100% do container, mas não mais que 300px */
        height: auto; /* Mantém a proporção da imagem ajustando a altura automaticamente */
    }

    .input-container {
        padding: 10px;
    }
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    font-size: 16px;
}
